<h2>Events List</h2>


<ul data-role="listview" data-inset="true" class="dynamic">
    <% _.each(eventsCollection, function(model) { %>
    <li>
        <a href="#events/<%= model.id %>">
        <img src="/images/<%= model.image %>">
        <h2><%= model.title %></h2>
        <p><%= model.date %></p></a>
    </li>
    <% }); %>
</ul>
