<h2><%= title %></h2>
<img class="img-detail" src="<%= image %>" />
<p>Evento con id: <%= id %></p>
<p>Data: <%= date %></p>
<a href="#events" class="ui-btn ui-corner-all ui-icon-carat-l ui-btn-icon-left">Torna indietro</a>
